@import url(http://fonts.googleapis.com/css?family=Graduate);
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
body { 
    width:100%;
    height:100%;
    margin:0;
    padding:15px;
    background: url(http://jsrun.it/assets/a/m/z/q/amzqD.jpg) repeat-x scroll 0 0 transparent;
    font-family: 'Graduate', cursive;
    color: #FFFFFF;
    overflow:hidden;
}
span { text-shadow: 0 1px 20px rgba(255, 255, 255, 0.5);position:absolute;top:50%;left:50%;padding:5px; }
.down_controls {font-family: 'Nixie One', cursive;position:absolute;top:92%;text-align:center;width:100%;z-index: 10; }