body{
background-color:White;
}
html {
cursor: url(/imagenes/codigolibre/cursor.png),auto;
}
::selection{
text-shadow:0 0 20px #017ecd,1px 1px 1px #808080;
}
#end{
-webkit-animation:glowing 1s infinite;
-moz-animation:glowing 1s infinite;
-ms-animation:glowing 1s infinite;
-o-animation:glowing 1s infinite;
animation:glowing 1s infinite;
display:inline;
}
span{
font-size:20px;
}
@-webkit-keyframes glowing{
0%    { color:#0fba06; }
    50%   {color:transparent; }
    100% { color:#0fba06; }
}
@-moz-keyframes glowing{
0%    { color:#0fba06; }
    50%   {color:transparent; }
    100% { color:#0fba06; }
}
@-ms-keyframes glowing{
0%    { color:#0fba06; }
    50%   {color:transparent; }
    100% { color:#0fba06; }
}
#cl{
margin-top:-30px;
}
.browser{
width:61%;
bottom:60px;
left:0;
font-family:Helvetica, Arial, sans-serif;
font-size:12px;
position:fixed;
}
.ff iframe{
width:100%;
height:400px;
}
#br:target .ff iframe { margin:0; padding:0; height:100%; }
#br:target .ff iframe{
width:100%;
}

.browser .top-bar{
background:#d4d4d4;
background:-webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#bcbcbc));
background:-webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#bcbcbc));
background:-webkit-linear-gradient(#e9e9e9, #bcbcbc);
background:-moz-linear-gradient(#e9e9e9, #bcbcbc);
background:-o-linear-gradient(#e9e9e9, #bcbcbc);
background:linear-gradient(#e9e9e9, #bcbcbc);
background:-webkit-gradient(linear,,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;
:;
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
height:25px;
padding-left:12px;
}
.browser .center-bar{
background:#d8d9d9;
background:-webkit-gradient(linear, left top, left bottom, from(#e5e6e6), to(#cfcfcf));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#e5e6e6),to(#cfcfcf));
background:-webkit-linear-gradient(#e5e6e6, #cfcfcf);
background:-moz-linear-gradient(#e5e6e6, #cfcfcf);
background:-o-linear-gradient(#e5e6e6, #cfcfcf);
background:linear-gradient(#e5e6e6, #cfcfcf);
background:-webkit-gradient(linear,,color-stop(#e5e6e6,0),color-stop(#cfcfcf,1));
background:-webkit-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-moz-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-o-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-moz-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e5e6e6,0),color-stop(#cfcfcf,1));
background:-webkit-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:-moz-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:-o-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
-webkit-box-shadow:inset 0 1px 0 #f9f9f9;
-moz-box-shadow:inset 0 1px 0 #f9f9f9;
box-shadow:inset 0 1px 0 #f9f9f9;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
border-top:1px solid #979797;
border-bottom:1px solid #7a7a7a;
height:30px;
padding:5px 12px 0;
}
.browser .window{
-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;
:;
-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
height:auto;
background:#000;
padding:10px;
}
.window{
border:8px solid #bdbdbd;
}
.browser .orb{
-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);
-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);
box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);
-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;
:;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
display:block;
float:right;
margin:6px 15px 0 0;
width:90px;
height:20px;
position:relative;
overflow:hidden;
color:transparent;
font-size:10px;
text-align:center;
text-decoration:none;
z-index:100;
}
.orb a,
#btn a{
color:transparent;
font-size:18px;
text-align:center;
}
.browser .orb:after{

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:2px 2px 0 0;
-moz-border-radius:2px 2px 0 0;
border-radius:2px 2px 0 0;
background:-webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(white),to(rgba(255, 255, 255, 0)));
background:-webkit-linear-gradient(white, rgba(255, 255, 255, 0));
background:-moz-linear-gradient(white, rgba(255, 255, 255, 0));
background:-o-linear-gradient(white, rgba(255, 255, 255, 0));
background:linear-gradient(white, rgba(255, 255, 255, 0));
background:-webkit-gradient(linear,,color-stop(white,0),color-stop(rgba(255, 255, 255, 0),1));
background:-webkit-linear-gradient(center top, white 0%, rgba(255, 255, 255, 0) 100%);
background:-moz-linear-gradient(center top, white 0%, rgba(255, 255, 255, 0) 100%);
background:-o-linear-gradient(center top, white 0%, rgba(255, 255, 255, 0) 100%);
background:linear-gradient(center top, white 0%, rgba(255, 255, 255, 0) 100%);
background:-moz-gradient(center top, white 0%, rgba(255, 255, 255, 0) 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(white,0),color-stop(rgba(255, 255, 255, 0),1));
background:-webkit-linear-gradient(white 0%, rgba(255, 255, 255, 0) 100%);
background:-moz-linear-gradient(white 0%, rgba(255, 255, 255, 0) 100%);
background:-o-linear-gradient(white 0%, rgba(255, 255, 255, 0) 100%);
background:linear-gradient(white 0%, rgba(255, 255, 255, 0) 100%);
content:'';
display:block;
height:3px;
width:6px;
position:absolute;
top:2px;
left:3px;
}
.browser .orb:before{

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:10px;
-moz-border-radius:10px;
border-radius:10px;

-webkit-box-shadow:0 0 5px white;
-moz-box-shadow:0 0 5px white;
box-shadow:0 0 5px white;
content:'';
display:block;
height:10px;
bottom:-10px;
right:0;
position:absolute;
}
.browser .orb.red{
background:#fda12e;
background:-webkit-gradient(linear, left top, left bottom, from(#fda12e), to(#ffcc64));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#fda12e),to(#ffcc64));
background:-webkit-linear-gradient(#fda12e, #ffcc64);
background:-moz-linear-gradient(#fda12e, #ffcc64);
background:-o-linear-gradient(#fda12e, #ffcc64);
background:linear-gradient(#fda12e, #ffcc64);
background:-webkit-gradient(linear,,color-stop(#fda12e,0),color-stop(#ffcc64,1));
background:-webkit-linear-gradient(center top, #fda12e 0%, #ffcc64 100%);
background:-moz-linear-gradient(center top, #fda12e 0%, #ffcc64 100%);
background:-o-linear-gradient(center top, #fda12e 0%, #ffcc64 100%);
background:linear-gradient(center top, #fda12e 0%, #ffcc64 100%);
background:-moz-gradient(center top, #fda12e 0%, #ffcc64 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#fda12e,0),color-stop(#ffcc64,1));
background:-webkit-linear-gradient(#fda12e 0%, #ffcc64 100%);
background:-moz-linear-gradient(#fda12e 0%, #ffcc64 100%);
background:-o-linear-gradient(#fda12e 0%, #ffcc64 100%);
background:linear-gradient(#fda12e 0%, #ffcc64 100%);
}
.browser .orb.green{
background:#7dbb5d;
background:-webkit-gradient(linear, left top, left bottom, from(#7dbb5d), to(#afdb92));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#7dbb5d),to(#afdb92));
background:-webkit-linear-gradient(#7dbb5d, #afdb92);
background:-moz-linear-gradient(#7dbb5d, #afdb92);
background:-o-linear-gradient(#7dbb5d, #afdb92);
background:linear-gradient(#7dbb5d, #afdb92);
background:-webkit-gradient(linear,,color-stop(#7dbb5d,0),color-stop(#afdb92,1));
background:-webkit-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-moz-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-o-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-moz-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#7dbb5d,0),color-stop(#afdb92,1));
background:-webkit-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:-moz-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:-o-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:linear-gradient(#7dbb5d 0%, #afdb92 100%);
}
.browser .orb.yellow{
background:#f0554d;
background:-webkit-gradient(linear, left top, left bottom, from(#e63933), to(#f3736b));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#e63933),to(#f3736b));
background:-webkit-linear-gradient(#e63933, #f3736b);
background:-moz-linear-gradient(#e63933, #f3736b);
background:-o-linear-gradient(#e63933, #f3736b);
background:linear-gradient(#e63933, #f3736b);
background:-webkit-gradient(linear,,color-stop(#e63933,0),color-stop(#f3736b,1));
background:-webkit-linear-gradient(center top, #e63933 0%, #f3736b 100%);
background:-moz-linear-gradient(center top, #e63933 0%, #f3736b 100%);
background:-o-linear-gradient(center top, #e63933 0%, #f3736b 100%);
background:linear-gradient(center top, #e63933 0%, #f3736b 100%);
background:-moz-gradient(center top, #e63933 0%, #f3736b 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e63933,0),color-stop(#f3736b,1));
background:-webkit-linear-gradient(#e63933 0%, #f3736b 100%);
background:-moz-linear-gradient(#e63933 0%, #f3736b 100%);
background:-o-linear-gradient(#e63933 0%, #f3736b 100%);
background:linear-gradient(#e63933 0%, #f3736b 100%);
}
.browser .tab{
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e7e6e6));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e7e6e6));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(#f9f9f9, #e7e6e6);
background:-webkit-gradient(linear,,color-stop(#f9f9f9,0),color-stop(#e7e6e6,1));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#f9f9f9,0),color-stop(#e7e6e6,1));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
position:relative;
top:11px;
height:24px;
width:169px;
padding:2px 26px 0 20px;
display:block;
float:left;
color:#111;
font-size:11px;
}
.browser .tab:after{
content:'';
display:block;
height:1px;
left:14px;
right:14px;
top:0;
position:absolute;
border-top:1px solid #9f9f9f;
}
.browser .tab img{
position:relative;
top:3px;
}
.browser .url{

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;

-webkit-box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
-moz-box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
background:url(/imagenes/principal/9oO3s5u.png) 5px -108px no-repeat white;
border:1px solid rgba(0, 0, 0, 0.25);
display:block;
padding:5px 4px 5px 27px;
color:#b8b8b8;
line-height:1;
}
.links{
text-align:center;
margin-top:30px;
}
.links a{
color:#6cbbbc;
}
.links .button{
background:#6cbbbc;
font-weight:bold;
display:inline-block;

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
color:#fff;
text-decoration:none;
padding:10px 20px;
margin-bottom:10px;
}
.links .button:hover{
background:#4da7a8;
}
/* Display text on the window */
.url span:after{
content:" is not accessible for the moment, try later.";
color:#FFF;
}
.url:focus > span{
color:#000;
position:absolute;
text-shadow:0px 60px 2px #686868;
z-index:200;
}
/* Show picto's on the orbs */
.orb a:hover,
#btn a:hover{
color:#000;
font-weight:bold;
}
.orb.red:active>.cl{
background:#f2f2f2;
width:90000px;
height:900000px;
position:fixed;
top:0px;
left:0px;
}
.orb.yellow:active>.cl{
background:#f2f2f2;
width:90000px;
height:900000px;
position:fixed;
top:0px;
left:0px;
z-index:99999999;
}
.orb.green:active  .window{
background:#AAAAAA;
width:90000px;
height:900000px;
position:fixed;
top:0px;
left:0px;
z-index:99999999;
}
/* Little box displayed with the orbs (here is the green one)*/
.lb{
position:absolute;
bottom:0;
right:20px;
left:0;
display:none;
z-index:999;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-ms-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
/*animation-name*/
-webkit-animation-name:grow;
-moz-animation-name:grow;
-ms-animation-name:grow;
-o-animation-name:grow;
animation-name:grow;
/*animation-iteration-count*/
-webkit-animation-iteration-count:1;
-moz-animation-iteration-count:1;
-ms-animation-iteration-count:1;
-o-animation-iteration-count:1;
animation-iteration-count:1;
/*animation-direction*/
-webkit-animation-direction:normal;
-moz-animation-direction:normal;
-ms-animation-direction:normal;
-o-animation-direction:normal;
animation-direction:normal;
}
/* Little box displayed with the orbs (here is the red one)*/
.nb{
position:absolute;
top:0;
left:0;
display:none;
z-index:999;
-webkit-animation-duration:1s;
-moz-animation-duration:1s;
-ms-animation-duration:1s;
-o-animation-duration:1s;
animation-duration:1s;
/*animation-name*/
-webkit-animation-name:grow;
-moz-animation-name:grow;
-ms-animation-name:grow;
-o-animation-name:grow;
animation-name:grow;
/*animation-iteration-count*/
-webkit-animation-iteration-count:1;
-moz-animation-iteration-count:1;
-ms-animation-iteration-count:1;
-o-animation-iteration-count:1;
animation-iteration-count:1;
/*animation-direction*/
-webkit-animation-direction:normal;
-moz-animation-direction:normal;
-ms-animation-direction:normal;
-o-animation-direction:normal;
animation-direction:normal;
}
/* Following lines target the two differents little windows */
.lb:target{
display:block;
width:100%;
height:100%;
}
.nb:target{
display:block;
width:100%;
height:100%;
}
/*
.lb:focus #cl{
display:none;
}
.nb:focus #cl{
display:none;
}
and theses are needed to resize the browser */
#br:target{
display:block;
width:100%;
top:0;
text-align:center;
margin-top:30px;
padding-top:10px;
padding-right:10px;
padding-bottom:20px;
padding-left:10px;
opacity:0.8;
}
#btn #br:target{
display:block;
width:650px;
opacity:1;
}
#btn{
background:#7dbb5d;
background:-webkit-gradient(linear, left top, left bottom, from(#7dbb5d), to(#afdb92));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#7dbb5d),to(#afdb92));
background:-webkit-linear-gradient(#7dbb5d, #afdb92);
background:-moz-linear-gradient(#7dbb5d, #afdb92);
background:-o-linear-gradient(#7dbb5d, #afdb92);
background:linear-gradient(#7dbb5d, #afdb92);
background:-webkit-gradient(linear,,color-stop(#7dbb5d,0),color-stop(#afdb92,1));
background:-webkit-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-moz-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-o-linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:linear-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-moz-gradient(center top, #7dbb5d 0%, #afdb92 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#7dbb5d,0),color-stop(#afdb92,1));
background:-webkit-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:-moz-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:-o-linear-gradient(#7dbb5d 0%, #afdb92 100%);
background:linear-gradient(#7dbb5d 0%, #afdb92 100%);

-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);
-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);
box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.7);

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px;
float:right;
margin-top:5px;

margin-right:-30px;

width:100px;
height:20px;
position:relative;
left:60px;
top:0px;
overflow:hidden;
color:transparent;
font-size:10px;
text-align:center;
text-decoration:none;
z-index:200;
display:none;
}
#br:target #btn{
display:block;
}
#br:target > #btn{
display:block;
}
#btn:target:before:focus > #br{
width:650px;
}
/* theses line are here to stylize the little windows */

#plop{
display:block;
position:absolute;
bottom:10px;
right:20px;
padding:20px;
padding-top:0px;
padding-left:4px;
padding-right:4px;
background:#ccc;

-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
width:90px;
height:70px;
border:1px solid #999999;
}
#plop p{
height:auto;
background:#ffffff;
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(hsl(0,0%,100%),0),color-stop(hsl(0,0%,95%),0.5),color-stop(hsl(0,0%,88%),0.51),color-stop(hsl(0,0%,96%),1));
background:-webkit-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-moz-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-o-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-webkit-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:-moz-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:-o-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
margin-top:5px;
font-size:15px;
width:90px;
}
#plopnew{
position:absolute;
bottom:0px;
right:40px;
padding:20px;
padding-top:0px;
padding-left:4px;
padding-right:4px;
background:#ccc;

-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
width:90px;
height:70px;
border:1px solid #999999;
overflow:hidden;
}
#plopnew p{
height:auto;
background:url(http://lab.web-gate.fr/images/apple.jpg);
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,color-stop(hsl(0,0%,100%),0),color-stop(hsl(0,0%,95%),0.5),color-stop(hsl(0,0%,88%),0.51),color-stop(hsl(0,0%,96%),1));
background:-webkit-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-moz-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-o-linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:linear-gradient(top, hsl(0,0%,100%) 0%, hsl(0,0%,95%) 50%, hsl(0,0%,88%) 51%, hsl(0,0%,96%) 100%);
background:-webkit-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:-moz-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:-o-linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
background:linear-gradient(top, hsl(0,0%,100%) 0%,hsl(0,0%,95%) 50%,hsl(0,0%,88%) 51%,hsl(0,0%,96%) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );

-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px;
margin-top:5px;
font-size:15px;
text-decoration:none;
width:90px;
height:80px;
text-align:center;
font-size:60px;
color:#f2f2f2;
text-shadow:1px -2px 1px #999;
}
/* And finally, this part is used to display the 3 pseudo orbs on the little window */
#plop span:first-child:after{
color:#f0554d;
content:"?";
}
#plop span:nth-child(2):after{
color:#fda12e;
content:"?";
}
#plop span:last-child:after{
color:#7dbb5d;
content:"?";
}
#screen{
background:#000;
padding:10px;
font-family:courier;
font-size:13px;
color:#4aed05;
}
#title{
text-align:center;
margin-left:80px;
padding-top:20px;
font-size:14px;
color:#666;
text-shadow:-1px 1px épx #999;
}
*[candrag="true"]{
position:absolute;
width:100%;
height:100%;
max-width:100%;
max-height:100%;
-webkit-resize:none;
-moz-resize:none;
resize:none;
overflow:hidden;
-webkit-transform-origin:0 0;
-moz-transform-origin:0 0;
-ms-transform-origin:0 0;
-o-transform-origin:0 0;
transform-origin:0 0;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1);
left:0;
top:0;
}
/**botones**/
.boto-pan{
margin-top:-20px;
margin-left:20px;
left:10;
display:scroll;
position:fixed;
bottom:40px;
z-index:50;
}
.button-edit{
border:1px solid #000;
background:#000;
background:-webkit-gradient(linear,left top,left bottom,color-stop(#4a464a,0.5),color-stop(#000,1));
background:-webkit-linear-gradient(top, #4a464a 50%, #000 100%);
background:-moz-linear-gradient(top, #4a464a 50%, #000 100%);
background:-o-linear-gradient(top, #4a464a 50%, #000 100%);
background:linear-gradient(top, #4a464a 50%, #000 100%);
background:-webkit-linear-gradient(top,#4a464a 50%, #000 100%);
background:-moz-linear-gradient(top,#4a464a 50%, #000 100%);
background:-o-linear-gradient(top,#4a464a 50%, #000 100%);
background:linear-gradient(top,#4a464a 50%, #000 100%);
cursor: pointer;
font-size:21px;
display:inline-block;
position:relative;
z-index:0;
border-top-left-radius:6px;
border-top-right-radius:6px;
-webkit-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
text-shadow:0 1px #FFF;
margin:0 -5px;
padding:0 20px;
color:#4aed05;
}
.button-edit:hover{
border:1px solid #000;
background:#4aed05;
background:-webkit-gradient(linear,left top,left bottom,color-stop(#0e8f0e,0.5),color-stop(#4aed05,1));
background:-webkit-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-moz-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-o-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-webkit-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:-moz-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:-o-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
font-size:21px;
display:inline-block;
position:relative;
z-index:0;
border-top-left-radius:6px;
border-top-right-radius:6px;
-webkit-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
text-shadow:0 1px #FFF;
margin:0 -5px;
padding:0 20px;
color:#000;
z-index:2;
border-bottom-color:#FFF;
}
/* configuracion de las pestañas */
ul#tabs{
position:absolute;
left:0px;
top:0px;
margin:0;
padding:0;
width:500px;
height:24px;
z-index:20;
}
ul#tabs li{
float:left;
height:23px;
padding-left:8px;
list-style:none;
margin-right:1px;
background:url(tabs.png) left -48px;
}
ul#tabs li.actual{
height:24px;
background:url(tabs.png) left -72px;
}
ul#tabs li a{
display:block;
.display:inline-block;
height:23px;
line-height:23px;
padding-right:8px;
outline:0px none;
text-decoration:none;
}
ul#tabs li.actual a{
border:1px solid #000;
background:#4aed05;
background:-webkit-gradient(linear,left top,left bottom,color-stop(#0e8f0e,0.5),color-stop(#4aed05,1));
background:-webkit-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-moz-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-o-linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:linear-gradient(top, #0e8f0e 50%, #4aed05 100%);
background:-webkit-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:-moz-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:-o-linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
background:linear-gradient(top,#0e8f0e 50%, #4aed05 100%);
font-size:21px;
display:inline-block;
position:relative;
z-index:0;
border-top-left-radius:6px;
border-top-right-radius:6px;
-webkit-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
-moz-box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
box-shadow:0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
text-shadow:0 1px #FFF;
margin:0 -5px;
padding:0 20px;
color:#000;
z-index:2;
border-bottom-color:#FFF;
}
/************/
.cuerpo-inferior-editorall{
background-color:#FFFFFF;
border:20px solid #ffffff;
color:#000000;
margin-left:10px;

margin-top:50px;

margin-right:0;
opacity:1;
width:1140px;
-webkit-border-radius:31px;
-moz-border-radius:31px;
border-radius:31px;
-webkit-box-shadow:1px 1px 5px #696369;
-moz-box-shadow:1px 1px 5px #696369;
box-shadow:1px 1px 5px #696369;
}
a{
text-decoration:none;
}
/*barra**/
.barra1{
background:#d4d4d4;
background:-webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#bcbcbc));
background:-webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#bcbcbc));
background:-webkit-linear-gradient(#e9e9e9, #bcbcbc);
background:-moz-linear-gradient(#e9e9e9, #bcbcbc);
background:-o-linear-gradient(#e9e9e9, #bcbcbc);
background:linear-gradient(#e9e9e9, #bcbcbc);
background:-webkit-gradient(linear,,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;
-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
height:45px;
padding-left:550px;
left:10;
display:scroll;
position:fixed;
bottom:0px;
z-index:10;
}
/*navegador*/


.browser1{

-webkit-box-shadow:0 1px 10px rgba(0, 0, 0, 0.32);
-moz-box-shadow:0 1px 10px rgba(0, 0, 0, 0.32);
box-shadow:0 1px 10px rgba(0, 0, 0, 0.32);

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
width:100%;
height:800px;
margin:0px  0;
border:1px solid rgba(0, 0, 0, 0.2);
font-family:Helvetica, Arial, sans-serif;
font-size:12px;
}
.browser1 .top-bar1{
background:#d4d4d4;
background:-webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#bcbcbc));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#e9e9e9),to(#bcbcbc));
background:-webkit-linear-gradient(#e9e9e9, #bcbcbc);
background:-moz-linear-gradient(#e9e9e9, #bcbcbc);
background:-o-linear-gradient(#e9e9e9, #bcbcbc);
background:linear-gradient(#e9e9e9, #bcbcbc);
background:-webkit-gradient(linear,,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-moz-gradient(center top, #e9e9e9 0%, #bcbcbc 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e9e9e9,0),color-stop(#bcbcbc,1));
background:-webkit-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-moz-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:-o-linear-gradient(#e9e9e9 0%, #bcbcbc 100%);
background:linear-gradient(#e9e9e9 0%, #bcbcbc 100%);

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:5px 5px 0 0;
-moz-border-radius:5px 5px 0 0;
border-radius:5px 5px 0 0;
height:35px;
padding-left:12px;
}
.browser1 .center-bar1{
background:#d8d9d9;
background:-webkit-gradient(linear, left top, left bottom, from(#e5e6e6), to(#cfcfcf));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#e5e6e6),to(#cfcfcf));
background:-webkit-linear-gradient(#e5e6e6, #cfcfcf);
background:-moz-linear-gradient(#e5e6e6, #cfcfcf);
background:-o-linear-gradient(#e5e6e6, #cfcfcf);
background:linear-gradient(#e5e6e6, #cfcfcf);
background:-webkit-gradient(linear,,color-stop(#e5e6e6,0),color-stop(#cfcfcf,1));
background:-webkit-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-moz-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-o-linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:linear-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-moz-gradient(center top, #e5e6e6 0%, #cfcfcf 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#e5e6e6,0),color-stop(#cfcfcf,1));
background:-webkit-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:-moz-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:-o-linear-gradient(#e5e6e6 0%, #cfcfcf 100%);
background:linear-gradient(#e5e6e6 0%, #cfcfcf 100%);

-webkit-box-shadow:inset 0 1px 0 #f9f9f9;
-moz-box-shadow:inset 0 1px 0 #f9f9f9;
box-shadow:inset 0 1px 0 #f9f9f9;
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
border-top:1px solid #979797;
border-bottom:1px solid #7a7a7a;
height:30px;
padding:5px 12px 0;
}
.browser1 .window1{

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;

-webkit-border-radius:0 0 5px 5px;
-moz-border-radius:0 0 5px 5px;
border-radius:0 0 5px 5px;
height:300px;
background:#fff;
}
.browser1 .tab1{
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e7e6e6));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#e7e6e6));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(#f9f9f9, #e7e6e6);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(#f9f9f9, #e7e6e6);
background:-webkit-gradient(linear,,color-stop(#f9f9f9,0),color-stop(#e7e6e6,1));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-gradient(center top, #f9f9f9 0%, #e7e6e6 100%);
background:-webkit-gradient(linear,left top,left bottom,color-stop(#f9f9f9,0),color-stop(#e7e6e6,1));
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -webkit-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -moz-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, -o-linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
background:url(/imagenes/principal/9oO3s5u.png) left top no-repeat, url(/imagenes/principal/9oO3s5u.png) right -56px no-repeat, linear-gradient(#f9f9f9 0%, #e7e6e6 100%);
white-space:nowrap;
overflow:hidden;
text-overflow:ellipsis;
position:relative;
top:11px;
height:24px;
width:169px;
padding:2px 26px 0 20px;
display:block;
float:left;
color:#111;
font-size:11px;
}
.browser1 .tab1:after{
content:'';
display:block;
height:1px;
left:14px;
right:14px;
top:0;
position:absolute;
border-top:1px solid #9f9f9f;
}
.browser1 .tab1 img{
position:relative;
top:3px;
}
.browser1 .url{

-webkit-background-clip:padding-box;
-moz-background-clip:;
background-clip:padding-box;

:;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
-webkit-box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
-moz-box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
box-shadow:inset 1px 1px 0 #f2f2f2, 0 1px 0 rgba(255, 255, 255, 0.8);
background:url(/imagenes/principal/9oO3s5u.png) 5px -108px no-repeat white;
border:1px solid rgba(0, 0, 0, 0.25);
display:block;
padding:5px 4px 0px 27px;
color:#b8b8b8;
line-height:1;
}
.flotar{
position:fixed;
top:0;
right:0;
}
.clor{
width:330px;
border-bottom-right-radius:60px;
border-bottom-left-radius:60px;
height:30px;
font-family:Arial;
color:#fff;
padding:10px;
padding-left:16px;
text-decoration:none;
border:solid #e6e6e6 2px;
background:#757575;
margin-top:-810px;
margin-left:250px;
font-size:16px;
position:absolute;
-webkit-border-bottom-right-radius:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomright:20px;
-moz-border-radius-bottomleft:20px;
}
.clor ul {
width:300px;
text-align: center;
top:0;
margin-top: -10px;
}
.clor ul li{
display:inline-block;
padding-bottom: 2px;
padding-top: 2px;
line-height:0px;
vertical-align:top;
}
.masno{
width:420px;
height:40px;
overflow:visible;
border:10px solid rgba(255,255,255,0.5);
-webkit-border-radius:40px;
-moz-border-radius:40px;
border-radius:40px;
-webkit-box-shadow:inset 0 0 10px #fff,0 1px 0 #666,0 -1px 0 #fff;
-moz-box-shadow:inset 0 0 10px #fff,0 1px 0 #666,0 -1px 0 #fff;
box-shadow:inset 0 0 10px #fff,0 1px 0 #666,0 -1px 0 #fff;
display:scroll;
background-color:#857785;
position:fixed;
bottom:45px;
right:0;
}
.masno a{
font:bold 21px/30px Tahoma, Arial;
cursor:pointer;
text-decoration:none;
color:#000;
display:block;
float:left;
margin-left:2px;

-webkit-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            rgba(0,0,0,0.3) 0 3px 0;
-moz-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            rgba(0,0,0,0.3) 0 3px 0;
box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            rgba(0,0,0,0.3) 0 3px 0;
padding:2px 10px;
min-width:10px;
text-align:center;
position:relative;
text-shadow:#fff 0 1px 0;
background:#cdcdcd;
background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.8)), to(rgba(200,200,200,0.9)));
/*linear-gradient*/
background:-webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.8)),to(rgba(200,200,200,0.9)));
background:-webkit-linear-gradient(top, rgba(255,255,255,0.8), rgba(200,200,200,0.9));
background:-moz-linear-gradient(top, rgba(255,255,255,0.8), rgba(200,200,200,0.9));
background:-o-linear-gradient(top, rgba(255,255,255,0.8), rgba(200,200,200,0.9));
background:linear-gradient(top, rgba(255,255,255,0.8), rgba(200,200,200,0.9));
}
.masno a:after{
content:'';
position:absolute;
bottom:-3px;
height:100%;
display:block;
width:100%;
left:0;

-webkit-box-shadow:inset rgba(255,255,255,0.2) 1px 0 0,  inset rgba(255,255,255,0.2) -1px 0 0, rgba(0,0,0,0.4) 0 1px 0;
-moz-box-shadow:inset rgba(255,255,255,0.2) 1px 0 0,  inset rgba(255,255,255,0.2) -1px 0 0, rgba(0,0,0,0.4) 0 1px 0;
box-shadow:inset rgba(255,255,255,0.2) 1px 0 0,  inset rgba(255,255,255,0.2) -1px 0 0, rgba(0,0,0,0.4) 0 1px 0;
}
.masno a:first-child::after{

-webkit-border-radius:500px 0 0 500px;
-moz-border-radius:500px 0 0 500px;
border-radius:500px 0 0 500px;
}
.masno a:last-child::after{

-webkit-border-radius:0 50px 50px 0;
-moz-border-radius:0 50px 50px 0;
border-radius:0 50px 50px 0;
}
.masno a.on:after{
height:1px;
bottom:-1px;
}
.masno a:before{
content:'';
position:absolute;
top:1px;
height:100%;

-webkit-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
-moz-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
box-shadow:rgba(0,0,0,0.4) 0 3px 0;
width:1px;
display:block;
background:rgba(0,0,0,0.4);
right:-1px;
}
.masno a:last-child::before{
display:none !important;
}
.masno a:first-child{

-webkit-border-radius:50px 0 0 50px;
-moz-border-radius:50px 0 0 50px;
border-radius:50px 0 0 50px;
font-family:'WebSymbolsRegular';
}
.masno a:last-child{

-webkit-border-radius:0 50px 50px 0;
-moz-border-radius:0 50px 50px 0;
border-radius:0 50px 50px 0;
font-family:'WebSymbolsRegular';
}
.masno a:hover{

-webkit-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            inset rgba(255,255,255,1) 0 0 15px,            rgba(0,0,0,0.2) 0 3px 0;
-moz-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            inset rgba(255,255,255,1) 0 0 15px,            rgba(0,0,0,0.2) 0 3px 0;
box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(255,255,255,0.7) 1px 0 0,             inset rgba(255,255,255,0.7) -1px 0 0,            inset rgba(255,255,255,1) 0 0 15px,            rgba(0,0,0,0.2) 0 3px 0;
}
.masno a:active{

-webkit-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.2) 1px 0 0px,             inset rgba(0,0,0,0.2) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.2) 0 2px 0;
-moz-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.2) 1px 0 0px,             inset rgba(0,0,0,0.2) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.2) 0 2px 0;
box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.2) 1px 0 0px,             inset rgba(0,0,0,0.2) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.2) 0 2px 0;
top:1px;
text-shadow:#fff 0 0 15px;
}
.masno a:active:after{
bottom:-2px;
}
.masno a:active:before{

-webkit-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
-moz-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
box-shadow:rgba(0,0,0,0.4) 0 3px 0;
top:0px;
}
.masno a.on{

-webkit-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.3) 1px 0 0px,             inset rgba(0,0,0,0.3) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.3) 0 1px 0;
-moz-box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.3) 1px 0 0px,             inset rgba(0,0,0,0.3) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.3) 0 1px 0;
box-shadow:inset rgba(0,0,0,0.1) 0 1px 0,            inset rgba(0,0,0,0.3) 1px 0 0px,             inset rgba(0,0,0,0.3) -1px 0 0px,            inset rgba(255,255,255,0.7) 0 2px 0,             inset rgba(255,255,255,0.7) 0 -1px 0,             inset rgba(0,0,0,0.1) 0 0 15px,            rgba(0,0,0,0.3) 0 1px 0;
top:2px;
text-shadow:#fff 0 0 15px;
}
.masno a.on:before{

-webkit-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
-moz-box-shadow:rgba(0,0,0,0.4) 0 3px 0;
box-shadow:rgba(0,0,0,0.4) 0 3px 0;
top:-1px;
}
.masno a.on:active:after{
bottom:-1px;
}
#Herrmientas, #compartir{
display:none;
}
.iredi{
width:290px;
border-bottom-right-radius:60px;
border-bottom-left-radius:60px;
font-family:Arial;
color:#fff;
padding:10px;
padding-left:16px;
text-decoration:none;
border:solid #303030 2px;
background:-webkit-gradient(linear, 0 0, 0 100%, from(#8c8487), to(#000000));
background:-webkit-gradient(linear,left top,left bottom,from(#8c8487),to(#000000));
background:-webkit-linear-gradient(top, #8c8487, #000000);
background:-moz-linear-gradient(top, #8c8487, #000000);
background:-o-linear-gradient(top, #8c8487, #000000);
background:linear-gradient(top, #8c8487, #000000);
margin-top:-810px;

margin-left:650px;

position:absolute;
-webkit-border-bottom-right-radius:20px;
-webkit-border-bottom-left-radius:20px;
-moz-border-radius-bottomright:20px;
-moz-border-radius-bottomleft:20px;
-webkit-box-shadow:0px 1px 3px #666666;
-moz-box-shadow:0px 1px 3px #666666;
box-shadow:0px 1px 3px #666666;
text-shadow:1px 2px 24px #15ff00;
}
.iredi a{
color:#00ff00;
font-size:20px;
}
.iredi:hover{
background:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#8c8487));
background:-webkit-gradient(linear,left top,left bottom,from(#000000),to(#8c8487));
background:-webkit-linear-gradient(top, #000000, #8c8487);
background:-moz-linear-gradient(top, #000000, #8c8487);
background:-o-linear-gradient(top, #000000, #8c8487);
background:linear-gradient(top, #000000, #8c8487);
}
@media screen and (max-height:1285px) {
#br:target .ff iframe {height:1085px; }
}
@media screen and (max-height:1255px) {
#br:target .ff iframe {height:1055px; }
}
@media screen and (max-height:1220px) {
#br:target .ff iframe {height:1020px; }
}
@media screen and (max-height:1120px) {
#br:target .ff iframe {height:920px; }
}
@media screen and (max-height:960px) {
#br:target .ff iframe {height:760px; }
}
@media screen and (max-height:900px) {
#br:target .ff iframe {height:700px; }
}
@media screen and (max-height:800px) {
#br:target .ff iframe {height:600px; }
}
@media screen and (max-height:720px) {
#br:target .ff iframe {height:520px; }
}
@media screen and (max-height:640px) {
#br:target .ff iframe {height:440px; }
}